<header>
	<h1><%= @user.first_name %>'s Surveys Created</h1>

	<ul class="actions">
		<li><%= link_to "Start Survey", new_survey_path, class: "new" if policy(Survey).new?%></li>
	</ul>
</header>

<!-- This is for organized events -->

<% if @user.organized_surveys.any? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Survey</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Survey Status</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @user.organized_surveys.reverse.each do |survey| %>
				<tr>
					<td><%= link_to survey.survey_name, survey_path(survey) %></td>
					<td><%= time_format(survey.start_date) %></td>
					<td><%= time_format(survey.end_date) %></td>
					<td><%= time_format(survey.start_date) %></td>
					<td><%= survey_status(survey) %></td>

					<td>
						<%= link_to "Edit", edit_survey_path(survey), class: "edit" if policy(survey).edit? %>
						<%= link_to "Delete", survey_path(survey), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" if policy(survey).destroy? %>
					</td>

				</tr>
			<% end %>
		</tbody>
	</table>
	<% else %>
	<p><%= @user.organization_name %> has no surveys yet</p>
<% end %>

<!-- This is for participated in surveys -->

<header>
	<h1><%= @user.first_name %>'s Surveys Started</h1>
</header>

<% if @user.participated_surveys.any? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Survey</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Survey Status</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @user.participated_surveys.reverse.each do |survey| %>
				<tr>
					<td><%= link_to survey.survey_name, survey_path(survey) %></td>
					<td><%= time_format(survey.start_date) %></td>
					<td><%= time_format(survey.end_date) %></td>
					<td><%= time_format(survey.start_date) %></td>
					<td><%= survey_status(survey) %></td>

					<td>
						<%= link_to "Edit", edit_survey_path(survey), class: "edit" if policy(survey).edit? %>
						<%= link_to "Delete", survey_path(survey), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" if policy(survey).destroy? %>
					</td>

				</tr>
			<% end %>
		</tbody>
	</table>
	<% else %>
	<p><%= @user.organization_name %> has not participated in any surveys yet</p>
<% end %>