<div class="row">
	<div class="col-sm-8 col-sm-offset-2">

		<%= simple_form_for(survey) do |f| %>

			<%= f.input :survey_name %>

			<%= f.input :description %>


			<%= f.input :start_date, as: :date, start_year: Date.today.year, ampm: true, order: [:month, :day, :year] %>

			<%= f.input :end_date, as: :date, start_year: Date.today.year, ampm: true, order: [:month, :day, :year] %>

			<%= f.input :location %>

			<%= f.input :cpi %>

			<%= f.input :incidence %>

			<%= f.input :loi %>

			<%= f.input :image, as: :file, label: "Upload Survey Image" %>

			<%= f.button :submit, class: "btn btn-primary" %>

		<% end %>
		<p><%= link_to "Back", surveys_path %>
	</div>
</div>