<h1>All Surveys</h1>

<p><%= link_to "Add Survey", new_survey_path %></p>

<% @surveys.each do |survey| %>
	<div>
		<h4><%= link_to survey.survey_name, survey_path(survey) %></h4>
		<p><%= survey.start_date %></p>
		<p><%= survey.end_date %></p>
		<p><%= survey.location %></p>

	</div>
<% end %>