<h1>All Surveys</h1>

<p><%= link_to "Add Survey", new_survey_path %></p>

<% @surveys.each do |survey| %>
	<div>
		<h4><%= link_to survey.survey_name, survey_path(survey) %></h4>
		<p><%= time_format(survey.start_date) %><%= fa_icon "camera-retro" %></p>
		<p><%= time_format(survey.end_date) %></p>
		<p><%= survey.location %></p>

	</div>
<% end %>