<h1><%= @survey.survey_name %></h1>

<div>
	<p><%= @survey.description %></p>

	<p><%= @survey.start_date %></p>

	<p><%= @survey.end_date %></p>

	<p><%= @survey.location %></p>
</div>

<p>
	<%= link_to "Edit Survey", edit_survey_path(@survey) %> | <%= link_to "Delete Survey", survey_path(@survey), turbo_method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure"} %>
</p>