<% provide(:title, @survey.survey_name) %>

<header>
	<h1 id="show-survey"><%= @survey.survey_name %></h1>
	<ul class="actions">
		<li><%= link_to "Edit Survey", edit_survey_path(@survey), class: "edit" if policy(@survey).edit? %></li>
		<li><%= link_to "Delete Survey", survey_path(@survey), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" if policy(@survey).destroy? %></li>
	</ul>
</header>

<div class="row">
	<div class="col-sm-9">
		<!-- <%= image_tag "https://picsum.photos/350/200", class: "survey-image" %> -->

		<div class="survey-details">
			<h4><span class="survey-start"><strong>Starts:</strong> <%= time_format(@survey.start_date) %></span></h4>
			<p>
				<span class="survey-end"><strong>Ends:</strong> <%= time_format(@survey.end_date) %></span>
			</p>
		</div>
		<div class="survey-details">
			<h3>Survey Details</h3>
			<p><span class="survey-details"><strong>Survey Category:</strong> <%= @survey.category.name %> </span></p>
			<p><span class="survey-details"><strong>Survey Description:</strong> <%= @survey.description %> </span></p>
			<p><span class="survey-details"><strong>Cost Per Interview:</strong> <%= @survey.cpi %></span></p>
			<p><span class="survey-details"><strong>Survey Incidence Rate:</strong> <%= @survey.incidence %></span></p>
			<p><span class="survey-details"><strong>Length of Interview:</strong> <%= @survey.loi %></span></p>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="sidebar">
			<h4 class= "organizer"><%= link_to @survey.organizer.username, user_path(@survey.organizer) %></h4>
			<p>
				<span class="survey-location"><%= @survey.location %></span>
			</p>
		</div>
		<div class="sidebar">
			<h4 class="respondents">Respondents</h4>
		</div>
		
	</div>
</div>
